img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-caption {
  text-align: center;
  font-size: .8rem;
  color: lightgrey;
}

.text-align-center {
  text-align: center;
}

.site-header {
  border-top: 8px solid #222222;
  border-bottom: 5px solid #de1a99;
  background-color: #27282bce;

  &::after {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.98) translateZ(0);
    filter: blur(25px);
    background: linear-gradient(
      to left,
      #de1a99,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d
    );
    background-size: 200% 200%;
    animation: animateGlow 5.25s linear infinite;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.site-title {
  font-size: clamp(2.0rem, 4.0vw, 5.8rem);
  font-weight: 280;
  letter-spacing: -3px;
  text-transform: uppercase;
}

.site-title::before {
  content: url("/assets/images/header-logo.png");
  display: inline-block;
  position: relative;
  margin-top: 5px;
  margin-right: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

h1.post-list-heading {
  font-family: 'Mr Dafoe';
  font-size: clamp(3.2rem, 5vw, 5.8rem);
  margin-top: -1.5em;
  opacity: 0.9;
  color: white;
  text-align: center;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-9deg);
}
