img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.site-header {
  border-top: 8px solid #de1a99;
  border-bottom: 15px solid #1e2027;
  background-color: #27282b;
}

.site-title {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}